<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663106270988-6041qodvs72hd7ipce2eqitiok38s73f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663106270988-6041qodvs72hd7ipce2eqitiok38s73f</string>
	<key>API_KEY</key>
	<string>AIzaSyBzUVHimOJciLG2V5aAIaNVYN2h1qkf78A</string>
	<key>GCM_SENDER_ID</key>
	<string>663106270988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upmediatec.lubiju</string>
	<key>PROJECT_ID</key>
	<string>lubiju-69f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>lubiju-69f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663106270988:ios:9af2cfc3b74d2b15217b29</string>
	<key>DATABASE_URL</key>
	<string>https://lubiju-69f6c.firebaseio.com</string>
</dict>
</plist>